* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #ffffff;
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
}
//------------------------------------------------------------------------------
